<div class="flex flex-col h-screen">
    <header class="bg-pitcheval-indigo">
        <nav class="mx-auto flex max-w-8xl items-center justify-between p-4 lg:px-6" aria-label="Global">
            <a [routerLink]="['/']" class="-m-1.5 p-1.5">
                <span class="sr-only">PitchEval</span>
                <img class="h-12 w-auto" src="/assets/logo.png" alt="">
            </a>
            <div class="flex lg:hidden">
                <button (click)="isOpen = !isOpen" type="button"
                    class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-white">
                    <span class="sr-only">Open main menu</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                </button>
            </div>
            <div class="hidden lg:flex lg:gap-x-12">
                <a [routerLink]="['/class-list']" class="text-sm font-semibold leading-6 text-white">Class List</a>
                <a [routerLink]="['/users']" class="text-sm font-semibold leading-6 text-white">Users</a>
                <a href="#" class="text-sm font-semibold leading-6 text-white">Log in <span
                        aria-hidden="true">&rarr;</span></a>
            </div>
        </nav>
        <!-- Mobile menu, show/hide based on menu open state. -->
        <div *ngIf="isOpen" class="lg:hidden" role="dialog" aria-modal="true">
            <!-- Background backdrop, show/hide based on slide-over state. -->
            <div class="fixed inset-0 z-10"></div>
            <div
                class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
                <div class="flex items-center justify-between">
                    <a href="#" class="-m-1.5 p-1.5">
                        <span class="sr-only">Pitch Evaluator</span>
                        <img class="h-8 w-auto" src="/assets/logo.png" alt="">
                    </a>
                    <button (click)="isOpen = !isOpen" type="button" class="-m-2.5 rounded-md p-2.5 text-white">
                        <span class="sr-only">Close menu</span>
                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#4630AC"
                            aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                <div class="mt-6 flow-root">
                    <div class="-my-6 divide-y divide-gray-500/10">
                        <div class="space-y-2 py-6">
                            <a [routerLink]="['/class-list']"
                                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-pitcheval-indigo hover:bg-gray-50">Class
                                List</a>
                            <a [routerLink]="['/users']"
                                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-pitcheval-indigo hover:bg-gray-50">Users</a>
                        </div>
                        <div class="py-6">
                            <a href="/"
                                class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-pitcheval-indigo hover:bg-gray-50">Log
                                in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="flex-grow"><router-outlet></router-outlet></main>
    <footer class="bg-pitcheval-indigo">
        <div class="mx-auto max-w-7xl px-6 py-4 md:flex md:items-center md:justify-between lg:px-8">
            <p class="text-xs leading-5 text-white">Pitch Evaluator Version 2.22.0-0
            </p>
            <p class="text-xs leading-5 text-white">Problems? contact the <a class="underline" href="">admin</a>
            </p>
            <p class="text-xs leading-5 text-white"><a class="underline" href=""> Privacy Statement </a>
            </p>
            <p class="text-xs leading-5 text-white">&copy; 2018-2024 Todd Warren
            </p>
        </div>
    </footer>
</div>
